@model Fiskal.Model.StavkeRacuna

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StavkeRacuna</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Kolicina" class="control-label"></label>
                <input asp-for="Kolicina" class="form-control" />
                <span asp-validation-for="Kolicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtiklId" class="control-label"></label>
                <select asp-for="ArtiklId" class="form-control" asp-items="ViewBag.ArtiklId"></select>
                <span asp-validation-for="ArtiklId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RacunId" class="control-label"></label>
                <select asp-for="RacunId" class="form-control" asp-items="ViewBag.RacunId"></select>
                <span asp-validation-for="RacunId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
